.navbar-nav{
    padding:0;
    margin:0;
}
.navbar { flex-wrap: inherit; }

.nav-link active { color: #BB1542;}
.nav-item { color: #222222; }

.dropdown-item {font-size:0.8vw;}
.nav-link {font-size:1.1vw;}

.rtl { direction: rtl; }
.rtl .dropdown-menu { 
    text-align: right;
    right:0;  
    background-color:#FFFFFF;
    font-size: small;
}