
.text-hr {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  width: 90%;
  margin: 1px 5%;
  color: #444;
  direction:ltr;
}

.text-hr::after {
  flex: 1;
  background: #282727;
  content: "";
  height: 1px;
}

.text-hr__text {
  padding-right: 15px;
  order: 1;
  padding: 0 0 0 15px;
}
